CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_BOARD="ipq40xx"
CONFIG_TARGET_ipq40xx_DEVICE_century_wr142ac=y
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_PROFILE="DEVICE_century_wr142ac"
CONFIG_TARGET_ARCH_PACKAGES="arm_cortex-a7_neon-vfpv4"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe"
CONFIG_CPU_TYPE="cortex-a7+neon-vfpv4"
CONFIG_LINUX_4_19=y
CONFIG_DEFAULT_ath10k-firmware-qca4019-ct=y
CONFIG_DEFAULT_kmod-ath10k-ct=y
CONFIG_PACKAGE_kmod-ath10k-ct=y
CONFIG_ATH10K-CT_LEDS=y
CONFIG_DEFAULT_ipq-wifi-century_wr142ac=y
CONFIG_PACKAGE_ipq-wifi-century_wr142ac=y
